#app-settings-content,
#app-settings-header {
	border-right: 1px solid #262;
}

.bubble,
#app-navigation .app-navigation-entry-menu,
.popovermenu .menuitem {
	background-color: black;
	color: #4c4;
}

.settings-button {
	background-color: black;
	background-image: url('../img/actions/settings.svg');
}
