input[type="submit"]:hover, input[type="submit"]:focus,
input[type="button"]:hover, input[type="button"]:focus,
button:hover, button:focus,
.button:hover, .button:focus,
.button a:focus,
select:hover, select:focus, select:active {
	background-color: #444;
	color: #4c4;
}
