/* FileList Recolor */
table th,
table td {
	border-bottom: 1px solid #222;
}

/* icons for sidebar */
.nav-icon-files {
	background-image: url('../img/folder.svg');
}
.nav-icon-favorites {
	background-image: url('../img/star.svg');
}
.nav-icon-sharingin,
.nav-icon-sharingout {
	background-image: url('../img/share.svg');
}
.nav-icon-sharinglinks {
	background-image: url('../img/public.svg');
}
.nav-icon-extstoragemounts {
	background-image: url('../img/external.svg');
}
.nav-icon-trashbin {
	background-image: url('../img/delete.svg');
}
